<div class="contents">
  <div class="container"> 
  <h1>メニュー追加画面</h1>
    <%= render partial: "shared/weektable", locals: {objective: @objective} %>
    <%= render partial: "shared/menuform", locals: { menu: @menus, url: add_create_menus_path, local_flag: false } %>
  </div>
</div>