<div class="objective-contents">
  <div class= "objective-container">
    <div class="objective-declaration">目標</div>
    <div class="objective-title">今日やること</div>
    <div class="todo-rate"> 
      <div>○/○達成</div>
    </div>
    <div class="todo-lists">
      <div class="todo-action">□toDo1</div>
      <div class="todo-action">□toDo2</div>
    </div>
  </div>
</div>
