<div class="contents">
  <div class= "container">
    <div class="date" id="date"></div>
    <div class="objective-declaration">
      <% if @objective.present? %>
        <span>目標：</span><%= @objective.declaration %>
      <% elsif user_signed_in?%>
        <span>目標を設定しよう</span>
      <% else %>
        <span>ログインしよう</span>
      <% end %>
    </div>
    <div class="today-menus-contents">
      <% if @menus.present? %>
        <ul class="today-menus">
            <% @menus.each do |menu| %>
              <li class="today-menu">
                <input type="checkbox"class="achieve-check" data-id= <%= menu.id %> data-check=<%= menu.achieve_flag %> name="check">
                <label class="today-menu-contents"><%= menu.todo %></label>
              </li>
            <% end %>
        </ul>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
