<div class="contents">
  <div class="container">
    <div class = "objective-form-container"> 
      <h1>目標入力画面</h1>
      <%= render partial: "shared/objectiveform", locals: { objective: @objective, url: objectives_path } %>
    </div>
  </div>
</div>