
.error-alert{
  text-align: center;
}

.error-alert ul{
  display:inline-block;
  text-align: center;
}

.error-alert li:before {
	content: '';
	width: 3px;
	height: 3px;
	display: inline-block;
	border-radius: 100%;
	background: #f74141;
	position: relative;
  left: -5px;
	top: -3px;
}

.error-message{
  color: #f74141;
  font-size: 18px;
  width: 100%;
  text-align: left;
}