
.header{
  height: 50px;
  background-color: #FFFFFF;
}

.header-contents{
  height: 100%;
  width: 60%;
  margin: 20px auto 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 100%;
  font-size: 40px;
  align-items: center;
  font-weight: 900;
  font-family: 'Lato-Black';
  color: #2fb3f0;
}

.lists-right{
  display: flex;
  align-items: center;
  justify-content:space-between;
}


.header-btn{
  font-size: 20px;
  margin: 0px 10px;
  font-weight: bold; 
  color: #2fb3f0;
  border: 2px solid #2fb3f0;
  border-radius: 5px;
  padding: 5px;
  white-space: nowrap;
}