* {
  box-sizing: border-box;
}

a{
  color: #2fb3f0;;
  text-decoration: none;
}

.back-screen{
  background-color: #e4e4e4;
  height: 100vh;
}

.header{
  height: 60px;
  margin:0px auto;
  background-color: #FFFFFF;
}

.logo{
  width: 60%;
  margin: auto;
}
.logo-name{
  font-size: 40px;
  color: #000000;
}