
/* objective, menu 共通 */

.new-memus{
  width: 80%;
  margin: 0px auto;
}

.menu-action-btn,
.objective-action-btn{
  display: block;
  color: #FFFFFF;
  background-color: #2fb3f0;
  border: 0px;
  text-align: center;
  font-size: 20px;
  width: 80px;
  height: 35px;
  border-radius:30px;
  margin: 0px auto 30px;
}
.end-action-btn{
  display: block;
  color: #FFFFFF;
  background-color: #2fb3f0;
  border: 0px;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 35px;
  border-radius:30px;
  margin: 20px auto 30px;
  padding: 4px;
}

.menu-field,
.menu-action,
.objective-action{
  padding: 0px 50px;
  margin: 10px auto;
}

.menu-field,
.objective-action{
  display: block;
}

.menu-field span,
.objective-field span,
.user-field span{
  position: relative;
  bottom: 3px;
  display: inline-block;
  font-size: 10px;
  background-color: #f74141;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0px 2px;
  margin: auto 5px;
}

