
/*contents,containerは'user/reg_reg.css'に記入 */

/* objective 登録画面 */

.objective-field{
  padding: 0px 50px;
  margin: 10px 10px;
}

.check-field{
  display: block;
  text-align: center;
  margin: 20px auto;
}

.form-objective input[name="commit"]{
  display: block;
  margin: 20px auto;
}

input[name="objective[declaration]"],
input[name="objective[reason]"],
input[name="objective[reward]"]
{
  display: block;
  margin: 0px auto;
  font-size: 15px;
  width: 60%;
  height: 30px;
}



/* menu登録画面 */
table{
  height: 30vh;
  width:99%;
  margin:20px auto 0px;
  table-layout: fixed;
}

th{
  height: 30px;
  border:1px solid #000000;
  text-align: center;
  background-color:#ffffff;
  font-size:30px;
  padding:5px 0;
}

th{
  color:white;
  background-color: #33e1ca;
  text-shadow: 1px 1px 0 #333;

}

.menu-list{
  height: 100%;
  border: 1px solid #000000;
  vertical-align: text-top;
  padding-left: 1.5em;
  white-space: nowrap;
  overflow: auto;
}

.menu-list li{
  list-style: none;

}

.menu-list li:before {
	content: '';
	width: 3px;
	height: 3px;
	display: inline-block;
	border-radius: 100%;
	background: #20B97B;
	position: relative;
  left: -15px;
	top: -3px;
}

input[name="menu[todo]"],
input[name="menu[time]"],
.menu-field div,
textarea[name="menu[effect]"]
{
  display: block;
  margin: 0px auto;
  font-size: 15px;
  width: 60%;
  height: 30px;
}

textarea[name="menu[effect]"]{
  height: 90px;
}

.week-select{
  width: max-content;
  height: 30px;
  font-size: 15px;
}

.menu-action{
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}


/* objective, menu 共通 */

.new-memus,
.form-objective{
  width: 60%;
  margin: 0px auto;
}

.menu-action-btn,
.objective-action-btn{
  display: block;
  color: #FFFFFF;
  background-color: #33e1ca;
  border: 0px;
  text-align: center;
  font-size: 20px;
  width: 80px;
  height: 35px;
  border-radius:30px;
  margin: 10px auto 30px;
}
.end-action-btn{
  display: block;
  color: #FFFFFF;
  background-color: #33e1ca;
  border: 0px;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 35px;
  border-radius:30px;
  margin: 10px auto 30px;
}

.menu-field,
.menu-action,
.objective-action{
  padding: 0px 50px;
  margin: 10px auto;
}

.menu-field,
.objective-action{
  display: block;
}