<div class="objective-contents">
  <div class="objective-container"> 
    <div class="objective-lists">
      <% @objectives.each do |objectives| %> 
        <div class="objective-list">
          <%= objectives.declaration %>
        </div>
      <% end %>
    </div>
  </div>
</div>