<header class="header">
  <div class="header-contents">
    <div>
      <%= link_to "Habits", root_path, class: "logo" %>
    </div>
    <% if user_signed_in? %>
      <div>
        <ul class="lists-right">
          <li><%= link_to "トップページ", root_path, class: "header-btn" %></li>
          <li><%= link_to "目標一覧", user_path(current_user.id), class: "header-btn" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, class: "header-btn", method: :delete%></li>
        </ul>
      </div>
    <% end %>
  </div>
</header>
