<%= image_tag 'not_setting_objective.jpg',class: 'not-setting-objective-image'%>
<div class="not_setting_objective_container">
  <div class="not_setting_objective_comment">
    目標が設定されていません<br>
    <%= link_to 'マイページ', user_path(current_user.id) ,class: "not_setting_link" %>から目標を設定しましょう
  </div>
</div>