

.user-field{
  padding: 0px 50px;
  margin: 20px 10px;
}

.user-field[id="remember_me"]{
  display: flex;
  align-items: center;
}

.user-actions{
  text-align: center;
}

input[name="user[nickname]"],
input[name="user[email]"],
input[name="user[password]"],
input[name="user[password_confirmation]"]
{
  display: block;
  margin: 0px auto;
  font-size: 20px;
  width: 60%;
  height: 45px;
}

.user-action{
  color: #FFFFFF;
  background-color: #33e1ca;
  border: 0px;
  text-align: center;
  font-size: 20px;
  width: 30%;
  height: 35px;
  border-radius:30px;
  margin: 10px auto 30px;
}

input[type="checkbox"]{
  margin-left: 20px;
}

