.objective-lists{
  padding: 10px;
  height: 60vh;
  width: 80%;
  margin: 10px auto;
  font-size: 30px;
  overflow-y: auto;
}

.objective-lists div{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.objective-lists div::-webkit-scrollbar{
  display: none;
}


.objective-list{
  display: inline-block;
  width: max-content;
  margin-top: 20px;
  font-size: 30px;
  color: #2fb3f0;
}

.objective-list::-webkit-scrollbar{
  display: none;
}

.add-objective-link{
  display: inline-block;
  font-size: 30px;
  border: 1px dashed #000000;
  padding: 10px 10px 10px 10px;
  color: #2fb3f0;
}

.edit-btn{
  display: flex;
}

.edit-btn .button_to{
  height: 25px;
  margin-left: 10px;
}
