.user-show-container{
  height: 100%;
  left: 100%;
  display: flex;
}

.user-show-left{
  height: 100%;
  width: 20%;
}

.user-show-right{
  height: 100%;
  width: 20%;
}

.user-show-center{
  height: 100%;
  width: 60%;
}

.user-show-image{
  height: 101.5%;
  width: 100%;
}

.objective-lists{
  padding: 10px;
  height: 80%;
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  overflow-y: auto;
}

.objective-link-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.objective-lists div::-webkit-scrollbar{
  display: none;
}

.setting-objective-mark{
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width: 70px;
}

.setting-objective-mark span{
  padding: 2px;
  border-radius: 5px;
  background-color: #f02f2f;
  color: #FFFFFF;
}

.objective-list{
  width: 100%;
  font-size: 30px;
  color: #2fb3f0;
  overflow-x: auto;
}

.objective-list:hover{
  transform:scale(1.0,1.4);
  transition-duration:1s;
}

.objective-list::-webkit-scrollbar{
  display: none;
}

.add-objective-link{
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #909090;
  margin-left: 70px;
  padding: 5px;
  background-color: #2fb3f0;
  color: #FFFFFF;
}

.add-objective-link:hover{
  color: #f7f455;
  /* box-shadow: 0px 0px 0px #909090; */
}

.edit-btn .button_to{
  height: 25px;
  margin-left: 10px;
}
